@font-face {
  font-family: Archive;
  src: url("fonts/Archive-Regular.otf") format("opentype");
}
@font-face {
  font-family: FixelBold;
  src: url("fonts/FixelText-Bold.otf") format("opentype");
}
body {
  font-family: Archive, Fallback, sans-serif !important;
}

div.FontMarket {
  font-family: Market Deco;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

hr {
  border: none;
  border-top: 2px solid white;
  width: 85%;
  margin: 5% auto;
}

.spec-color {
  background-color: #1d1a17 !important;
}
.spec {
  background-color: red !important;
}

body {
  background-color: #1d1a17 !important;
}

.px-25 {
  padding-left: 15% !important;
  padding-right: 15% !important;
}

.custom-bg-1 {
  background-color: #997040;
  color: black !important;

  border-radius: 35px;
  padding: 12.5px 20px !important;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center !important;
}

.custom-bg-1:hover {
  background-color: #b59168;
}

.custom-bg-2 {
  background-color: #c06327;
  color: black !important;

  border-radius: 35px;
  padding: 12.5px 20px !important;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center !important;
}

.custom-bg-2:hover,
.custom-bg-2:active {
  background-color: #d6854f !important;
}
.leaf-1 {
  width: 200px;
  height: 147px;
  margin-top: -3.5%;
  margin-left: -5%;
  transform: rotate(-20deg);
}

.leaf-2 {
  width: 300px;
  height: 220.5px;
  margin-top: -5%;
  margin-right: -11%;
  transform: rotate(60deg);
}

.nav-btn-spec {
  min-width: 9vw !important;
}

.container {
  padding-top: 5vh;
  color: white;
}

.main-text-1 {
  font-size: 75px;
  text-align: center;
}

.main-text-2 {
  font-size: 100px;
  text-align: center;
  margin-top: -7.5vh;
}

.bottle {
  left: 48%;
  transform: translateX(-50%);
  top: 24vh;
}

.circle {
  position: absolute;
  top: 43%;
  left: 40.5%;
  transform: translateX(-50%);
  transform: rotate(-20deg);
  width: 75px;
  height: 75px;
  background-color: #e8d5b9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #422a0c;
  font-size: 14px;
  font-family: FixelBold, sans-serif;
  text-align: center;
}

.circle::after {
  content: "Знижка    50%";
}

.col {
  margin-top: 75px !important;
  margin-bottom: 75px !important;
  font-family: FixelBold, Fallback, sans-serif !important;
}

.alt-col-1 {
  margin-right: 50% !important;
}

.alt-col-2 {
  margin-left: 50% !important;
}

.alt-col-spec {
  margin-top: -6.5%;
}

.horizontal-line-1 {
  position: absolute;
  width: 10%;
  top: 45.25%;
  left: 25%;
  height: 2px;
  background-color: white;
  transform: translateY(-50%);
}

.horizontal-line-1::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.horizontal-line-1::after {
  right: 0;
  top: -4px;
}

.horizontal-line-2 {
  position: absolute;
  width: 7.5%;
  top: 45.25%;
  left: 65.5%;
  height: 2px;
  background-color: white;
  transform: translateY(-50%);
}

.horizontal-line-2::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.horizontal-line-2::before {
  left: 0;
  top: -4px;
}

.horizontal-line-3 {
  position: absolute;
  width: 10%;
  top: 82.25%;
  left: 25%;
  height: 2px;
  background-color: white;
  transform: translateY(-50%);
}

.horizontal-line-3::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.horizontal-line-3::after {
  right: 0;
  top: -4px;
}

.horizontal-line-4 {
  position: absolute;
  width: 12.5%;
  top: 82.25%;
  left: 60.5%;
  height: 2px;
  background-color: white;
  transform: translateY(-50%);
}

.horizontal-line-4::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.horizontal-line-4::before {
  left: 0;
  top: -4px;
}

.order-now {
  position: absolute;
  color: black !important;
  top: 56%;
  left: 52%;
  transform: rotate(-10deg);
}

.order-btn {
  color: black;
  background-color: #e8d5b9;
  border-radius: 8px;
  margin-bottom: 15px;
}

.order-btn:hover,
.order-btn:active {
  background-color: #ede3d5 !important;
}

.tel {
  text-align: center;
  background-color: #fa971a;
  border-radius: 8px;
  width: 75%;
  margin-left: auto;
}

.tel-number {
  color: black;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 2px !important;
}

:root {
  --shadow: black;
  --scrollbarBG: url("./img/beer.jpg");
  --thumbBG: url("./img/foam.jpg");
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

::-webkit-scrollbar-thumb {
  background: var(--thumbBG);
  box-shadow: 0 -100vh 0 100vh var(--shadow), 0 0 15px 5px transparent;
}


.offer-container {
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #37312B;
  border-radius: 25px;
  margin: 5vh 7.5%;
}
.offer {
  border: solid 3px black;
  padding: 10px;
  border-radius: 25px;
  height: 31%;
  width: 25%;
}
.main-offer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-offer div{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.offer-name {
  color: #E8D5B9;
}

.offer img {
  width: 50px; /* Adjust as needed */
}
.offer h3 {
  margin: 5px 0;
}
.offer p {
  margin: 5px 0;
}
.offer button {
  background-color: #77A23F;
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 5%;
  cursor: pointer;
}

.offer-bottom {
  margin-top: 10px;
  display: flex;
  flex-direction: row; /* Изменено с column на row */
  justify-content: space-between; /* Добавлено для распределения элементов по горизонтали */
  align-items: center; /* Добавлено для выравнивания элементов по вертикали */
}

.circle-price {
  width: 50px;
  height: 50px;
  background-color: #E8D5B9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #422a0c;
  font-size: 14px;
  font-family: FixelBold, sans-serif;
  text-align: center;
}

.circle-price::after {
  content: "₴151";
}

.popular-title {
  text-align: center;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 5% 10%;
}

.grid-item {
  background-color: none;
  color: white;
  /*text-align: center;*/
  padding: 20px;
  width: 100%;
  height: 400px;
  border-top: 1px solid white;
  border-left: 1px solid white;
}

.grid-item img {
  width: 50px;
  align-items: center;
}

.grid-item:nth-child(-n+2) {
  border-top: none;
}

.grid-item:nth-child(-n+3) {
  border-top: none;
}

.grid-item:nth-child(-n+3) {
  border-top: none;
}

/* Убираем левую границу у каждого первого элемента в ряду */
.grid-item:nth-child(3n+1) {
  border-left: none;
}